;;;;
; npm userconfig file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;
registry=https://npm.praim.com/
//npm.praim.com/:_authToken="sC4u//zJ+tg1SMADewTLenuHGP7HRjiaD3DgcOYjI14="